<web-app>
<servlet>
<servlet-name>compile</servlet-name>
<servlet-class>Compile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>compile</servlet-name>
<url-pattern>/compile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>run</servlet-name>
<servlet-class>Run</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>run</servlet-name>
<url-pattern>/run</url-pattern>
</servlet-mapping>

</web-app>